html, body
{
  	height: 100%
}
.editor-container
{
  	display: flex;
  	height: 90%
}
.editor
{
  	flex: 1;
  	border:solid 1px #ccc;
  	padding: 20px;
  	min-height:200px;
}
.toolbar
{
  	border:solid 1px #ddd;
  	background:#f4f4f4;
  	padding: 7px;
  	border-radius:3px;
}
.toolbar > span
{
  	cursor:pointer;
  	margin: 2px;
}
.toolbar > span:hover
{
  	text-decoration:underline;
}
.statusbar > span::before
{ 
  	content: 'status: ';
}
.statusbar
{ 
	float: right;
}
.buttons
{
	float: left;
	margin-right: 10px;
}
#span
{
	min-width: 300px;
}
.path > span
{
	background: #fff;
	border: solid 1px #ddd;
	padding: 5px;
}
path > span:hover
{
	text-decoration: none;
}
