::-webkit-scrollbar {
	display: none;
}
html, body
{
  	height: 100%;
  	overflow: hidden;
}
.editor-container
{
  	display: flex;
  	flex-flow: column;
  	height: 100vh;
}
.editor
{
  	flex: 1;
  	height: 100vh;
  	border:solid 1px #ccc;
  	min-height:200px;
  	overflow: scroll;
	counter-reset: line;
	padding-top: 4px;
}
.editor > div::before
{
	counter-increment: line;
	content: counter(line, decimal-leading-zero) " ";
	postion: absolute;
	margin-right: 8px;
	padding: 4px;
	border-right: solid #ccc;
	background: #666;
	color: #ccc;
	text-align: center;
}
.toolbar
{
  	border:solid 1px #ddd;
  	background:#f4f4f4;
  	padding: 7px;
  	border-radius:3px;
}
.toolbar > span
{
  	cursor:pointer;
  	margin: 2px;
}
.toolbar > span:hover
{
  	text-decoration:underline;
}
.statusbar > span::before
{ 
  	content: 'status: ';
}
.statusbar
{ 
	float: right;
}
.buttons
{
	float: left;
	margin-right: 10px;
	margin-bottom: 6px;
}
#span
{
	min-width: 300px;
}
.path > span
{
	background: #fff;
	border: solid 1px #ddd;
	padding: 5px;
}
path > span:hover
{
	text-decoration: none;
}

